.ceo {
	padding-top: 130px;
	background-color: clr(dark);

	@include mq(1200) {
		padding-top: 100px;
	}
	@include mq(992) {
		padding-top: 80px;
	}
	@include mq(768) {
		padding-bottom: 45px;
	}
	@include mq(576) {
		padding-top: 60px;
	}
}

.ceo__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: end;
	column-gap: 150px;

	@include mq(1200) {
		column-gap: 50px;
	}
	@include mq(992) {
		grid-template-columns: 2fr 3fr;
	}
	@include mq(768) {
		grid-template-columns: 100%;
		justify-items: center;
		row-gap: 40px;
	}
}

.ceo__foto {
	margin-left: 50px;

	object-fit: cover;
	object-position: top center;

	@include mq(1200) {
		margin-left: 30px;
		width: 500px;
	}
	@include mq(992) {
		margin-left: 0;
		height: auto;
	}
}

.ceo__cite {
	padding-top: 50px;
	padding-bottom: 20px;
	margin: 0;

	@include mq(1200) {
		padding-top: 30px;
	}
	@include mq(992) {
		padding-top: 0;
	}
}

.ceo__cite-title {
	color: clr(white);
	@include fz(40, 24);
	font-weight: 800;
	line-height: 100%;
	padding-top: 43px;
	position: relative;
	margin-top: 0;
	margin-bottom: 30px;
	max-width: 605px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 41px;
		height: 41px;
		background-image: url(../images/icons/quotes.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.ceo__cite-text {
	color: clr(light-grey-text);
	@include fz(20, 16);
	line-height: 140%;
	max-width: 605px;

	margin-top: 0;
	margin-bottom: 48px;

	@include mq(576) {
		margin-bottom: 30px;
	}
}

.ceo__cite-footer {
	position: relative;
	padding-left: 250px;
	padding-top: 15px;
	border-top: 1px solid clr(grey-stroke);

	@include mq(1200) {
		padding-left: 200px;
	}
	@include mq(576) {
		padding-left: 100px;
	}

	&::after {
		content: "";
		position: absolute;
		left: 210px;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: clr(grey-stroke);

		@include mq(1200) {
			left: 180px;
		}
		@include mq(576) {
			left: 90px;
		}
	}
}

.ceo__cite-signature {
	position: absolute;
	left: 34px;
	top: 13px;
	object-fit: contain;
	object-position: center;

	@include mq(1200) {
		left: 10px;
	}

	@include mq(992) {
		width: 120px;
		height: auto;
	}

	@include mq(576) {
		left: 0;
		width: 80px;
	}
}

.ceo__cite-name {
	color: clr(white);
	@include fz(24, 16);
	font-weight: 800;
	line-height: 130%;

	margin-top: 0;
	margin-bottom: 0;
}

.ceo__cite-position {
	color: clr(light-grey-text);
	@include fz(16, 14);
	line-height: 160%;
	margin-top: 0;
	margin-bottom: 0;
}
