.pop-up-info {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba($color: #000000, $alpha: 0.6);
	z-index: 98;

	display: none;

	&--active {
		display: flex;
	}
}

.pop-up-info__body {
	padding: 60px 30px 40px;
	background-color: clr(dark);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 80px;
	margin: auto;

	position: relative;

	@include mq(480) {
		column-gap: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.pop-up-info-close {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 0;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.pop-up-info__title {
	font-size: 20px;
	@include fz(20, 16);
	font-weight: 700;
	color: clr(yellow);
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}

.pop-up-info__list {
	padding-left: 0;
	margin: 0;
	list-style-type: none;

	display: grid;
	row-gap: 10px;
}

.pop-up-info__link {
	text-transform: uppercase;
	color: clr(white);
	transition: color 0.5s;
	@include fz(16, 14);

	&:hover {
		color: clr(yellow);
	}
}
