.pop-up-form {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($color: #000000, $alpha: 0.6);
	z-index: 99;

	display: none;

	&--active {
		display: flex;
	}

	& > div {
		margin: auto;
	}

	& .wpcf7-response-output {
		color: #fff !important;
	}

	& form {
		max-height: calc(100vh - 40px);
		max-width: 830px;
		overflow-y: auto;
		background-color: clr(dark);
		padding: 70px;
		display: grid;
		position: relative;

		@include mq(1540) {
			padding: 50px;
		}
		@include mq(1366) {
			padding: 40px;
		}
		@include mq(992) {
			width: calc(100vw - 20px);
			max-height: calc(100vh - 20px);
		}
		@include mq(480) {
			padding: 60px 20px 20px;
		}
	}

	& .form__label {
		&:not(:last-child) {
			margin-bottom: 50px;

			@include mq(1540) {
				margin-bottom: 40px;
			}
			@include mq(1366) {
				margin-bottom: 30px;
			}
			@include mq(480) {
				margin-bottom: 20px;
			}
		}
	}

	& .form__element {
		color: clr(white);

		&::-webkit-input-placeholder {
			@extend %placeholder;
			color: clr(light-grey-text);
		}
		&::-moz-placeholder {
			@extend %placeholder;
			color: clr(light-grey-text);
		}
		&:-ms-input-placeholder {
			@extend %placeholder;
			color: clr(light-grey-text);
		}
		&:-moz-placeholder {
			@extend %placeholder;
			color: clr(light-grey-text);
		}
	}
}

.pop-up-close {
	position: absolute;
	right: 20px;
	top: 2dvh;
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;

	@include mq(1540) {
		& svg {
			width: 40px;
			height: 40px;
		}
	}
}

.form__title {
	color: clr(white);
	@include fz(40, 24);
	font-weight: 800;
	line-height: 100%;

	margin-top: 0;
	margin-bottom: 30px;

	@include mq(480) {
		margin-bottom: 20px;
	}
}

.form__subtitle {
	color: clr(light-grey-text);
	@include fz(18, 14);
	line-height: 140%;
	margin-top: 0;
	margin-bottom: 60px;

	@include mq(1540) {
		margin-bottom: 60px;
	}
	@include mq(1366) {
		margin-bottom: 40px;
	}
}
